// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-serif: 'Roboto Slab', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//colours
$primary: #003f88;
$primary-light: #0077b6;

//$table-th-font-weight:        700;
